html{
    height: 100%;
}
    body{
        margin: 0;
        padding: 0;
        height: 95%;
        background: #f0f2f5;
        background-image: url(https://static.wixstatic.com/media/da9d83ef63014589acac69d0c0f44f45.jpg/v1/fill/w_1920,h_1080,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/da9d83ef63014589acac69d0c0f44f45.jpg);
    }

    .text_background{
        background: #f0f2f5;
    }
    
    .user_card {
        height: auto;
        width: 350px;
    }

    .card_c {
        margin-top: auto;
        margin-bottom: auto;
        /*background: #f39c12;*/
        background: #fff;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
    }
    .card_register_size{
        height: auto;
        width: 350px;
    }
    .card_password_reset{
        height: auto;
        width: 400px;
    }
    .card_password_reset_done{
        height: auto;
        width: 800px;
    }
    .break-word {
        word-break: break-word;
    }
    
    .bd_footer{
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333),color-stop(100%, #222222));
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-top: auto;    
    }
    .bd_footer_text{
        color: #fff
    }
    .brand_logo_container {
        position: absolute;
        height: 170px;
        width: 170px;
        top: -75px;
        border-radius: 50%;
        background: #4d4e4e3f;
        padding: 10px;
        text-align: center;
    }
    .brand_logo_container_messages {
        position: absolute;
        height: 170px;
        width: 170px;
        top: -75px;
        border-radius: 50%;
        background: #f0f2f5;
        padding: 10px;
        text-align: center;
    }
    .brand_logo {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: 2px solid white;
    }
    .form_container {
        margin-top: 100px;
    }
    .login_btn {
        width: 100%;
        background: #1877f2 !important;
        color: white !important;
    }
    .reset_btn {
        background: #1877f2 !important;
        color: white !important;
    }
    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .login_container {
        padding: 0 2rem;
    }
    .input-group-text {
        background: #1877f2 !important;
        color: white !important;
        border: 0 !important;
        border-radius: 0.25rem 0 0 0.25rem !important;
    }
    .input_user,
    .input_pass:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
        background-color: #c0392b !important;
    }

    .header-title{
        margin-top: 10px
    }
    .other_auth_links a:nth-child(2) {
        float: right;
      }
    .link_color{
        color: #c0392b !important;
    }
    a{
        color: #1877f2 !important;
    }

    .font_panel{
        font-family: Helvetica, Arial, sans-serif;
    }