{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Login Powerbi Mercale{% endblock %}
{% block content %}
    <div class="container_fuid h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card card_c">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="{% static 'img/logo/mercale.png' %}"
                             class="brand_logo"
                             alt="Logo">
                    </div>
                </div>
                <div class="d-flex justify-content-center form_container">
                    <form method = "POST">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input required
                                   type="text"
                                   name="username"
                                   id="username"
                                   class="form-control input_user"
                                   placeholder="Usuário">
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input required
                                   type="password"
                                   name="password"
                                   id="password"
                                   class="form-control input_pass"
                                   placeholder="Senha">
                        </div>
                        {% if error %}   
                            <div class="d-flex justify-content-center alert alert-danger fade show" role="alert">
                                    {{error}}
                            </div>
                        {% endif %}
                        <div class="d-flex justify-content-center mt-3 login_container" >
                            <button type="subimit" value="login" class="btn login_btn">Login</button>
                        </div>
                    </form>
                </div>
                <div class="mt-4">
                    <div class="d-flex justify-content-center links">
                        Não tem uma conta? <a href="/accounts/register" class="ml-2">Vamos criar</a>
                    </div>
                    <div class="d-flex justify-content-center links">
                        Esqueceu sua senha?  <a href="/accounts/password_reset" class="ml-2">Clique aqui</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
