{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Recuperar sua senha{% endblock %}
{% block content %}
    <div class="container_fuid h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="card_c card_password_reset">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="{% static 'img/logo/mercale.png' %}"
                             class="brand_logo"
                             alt="Logo">
                    </div>
                </div>
                <div class="d-flex justify-content-center form_container">
                    <form method = "POST">
                        {% csrf_token %}
                        <div class="mb-2 header-title">
                            <h1 class="h2 d-flex justify-content-center">Perdeu sua senha?</h1>
                            <p>
                                Digite seu endereço de email e iremos ajudar!
                            </p>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                            </div>
                            <input type="email"
                                   name="email"
                                   autocomplete="email"
                                   maxlength="254"
                                   class="emailinput form-control"
                                   required
                                   id="id_email">
                        </div>
                        {% if email_error %}   
                            <div class="d-flex justify-content-center alert alert-danger fade show" role="alert">
                                {{email_error}}
                            </div>
                        {% endif %}
                        <div class="d-flex justify-content-between mb-2">
                            <button type="subimit"
                                    id="formSubmit"
                                    class="btn login_btn card_password_reset_button">Enviar email</button>
                        </div>
                        <div class="form-group other_auth_links">
                            <a class="" href="/accounts/login">Faça login</a>
                            <a class="" href="/accounts/register">Cadastro</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
