{% extends 'base.html' %}
{%load static%}
{% block title %}Confirmação de envio{% endblock %}
{% block content %}

	<!--Password reset sent-->
  <div class="container_fuid h-100 text_background">
	<div class="d-flex justify-content-center h-100">
		<div class="card_password_reset_done card_c">
			<div class="d-flex justify-content-center">
				<div class="brand_logo_container_messages">
					<img src="{% static 'img/logo/mercale.png' %}"
						 class="brand_logo"
						 alt="Logo">
				</div>
			</div>
			<div class="d-flex justify-content-center form_container">
				<div class="container_fluid h-100 w-100 p-5">
					<h2 class="font-weight-bold mt-1 text-center">Email de recuperação de senha enviado :)</h2>
					  <hr>
					  <p class="text-center">Enviamos um e-mail com instruções para redefinir sua senha, se existir uma conta com o e-mail que você digitou, irá recebê-lo em breve.<br>Se você não receber um e-mail, verifique se digitou o endereço com o qual se registrou e verifique sua pasta de spam!</p>
					  <a href='/accounts/login' class="btn login_btn card_password_reset_button">Voltar a tela de login</a>
					</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}